body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    
}

header {
    background: #50b3a2;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    width: 100%;
    border-bottom: #e8491d 3px solid;
}

header h1 {
    text-align: center;
    margin-bottom: 30px;
}

main {
    padding: 20px 0;
}

h2 {
    color: #333;
}

.start-button {
    display: inline-block;
    background: #50b3a2;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.start-button:hover {
    background: #3a8279;
}

#rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

#rating-container label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #50b3a2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #3a8279;
}

#results-container {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}